<meta charset="UTF-8">
<title>Analysis System</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/css/materialize.min.css">

<style>
	.row {
		margin-bottom: 0px;
	}

    textarea.materialize-textarea { height: 30%; }

	/* div#viewResult p {
		margin: 0 0 0 0;
	}
	
	div#viewResult h3 {
		margin: 0 0 0 0;
	} */
</style>
