<nav class="amber darken-1">
	<div class="nav-wrapper container">
		<a href="#!" class="brand-logo"><i class="material-icons dp48">search</i>Analysis System</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/">SSHLog</a></li>
			<li><a href="/deploy">Deploy</a></li>
		</ul>
	</div>
</nav>
