<!DOCTYPE html>
<html>
  <head>
    <title>Member</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% for(var i=0; i<data.length; i++){ %>
  	<%= data[i].USERID  %>
  	<%= data[i].USERNAME  %>
  	<% } %>
  </body>
</html>